<% if logged_in? %>
  <P>You have created <%= @user.created_events.count %> events:</P>
  <% @user.created_events.each do |event| %>
    <li><%= link_to event.title, event %></li>
  <% end %>

  <P>You are going to attend <%= @user.upcoming_events.count %> events:</P>

  <% @user.upcoming_events.each do |event| %>
    <li><%= link_to event.title, event %></li>
  <% end %>

  <P>You have attended <%= @user.past_events.count %> events so far:</P>
  <% @user.past_events.each do |event| %>
    <li><%= link_to event.title, event %></li>
  <% end %>
  <br/>
  <br/>
  <%= link_to "Create an event", new_event_path %><br/>
  <%= link_to "Attend an event", events_path %>
  <br/>
  <br/>
<% end %>